@import url('./fonts.css');
.imgnavbar{
    background-image: url(../img/background.png);
    width: 100%;
    height: 400px;
}
.navbar{
    display: flex;
    font-size: medium;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.77) 99.99%, rgba(252, 252, 252, 0.00) 100%);
    background-blend-mode: screen;
    height: 101px;
    flex-shrink: 0;
}
.navbar-item > a{
    color: black;
    text-decoration: none;
}
.navbar-img > img{
    width: 63px;
    flex-shrink: 0;
    height: 65px;
    margin-left: 20px;
}
.navbar-button > button{
    border: 1px solid white;
    border-radius: 50%;
    width:72; 
    height:72; 
    fill:none;
}
.figma > img{
    width: 543px;
    height: 305px;
    flex-shrink: 0;
}
.figma > h5{
    color: #000;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}
.img-Figma{
    display: flex;
    margin-top: 50px;
}
.figma{
    margin-left: 70px;
}
.figma > a{
    color: #000;
    padding-left: 200px;
    font-size: 20px;
}
.figma1 > img{
    width: 453px;
    height: 620px;
    flex-shrink: 0;
}
.figma1 > a{
    color: #000;
    padding-left: 200px;
    font-size: 20px;
}
.figma1{
    margin-left: 150px;
}
.hamkor{
    color: #1BAE7C;
}
.Footer{
    background-color: #1BAE7C;
    width: 100%;
    height: 400px;
    display: flex;
}
.form-control{
    width: 200px;
    margin-top: 20px;
    background-color: #1BAE7C;
    color: white;
}
.btn{
    background-color: #FFFFFF;
    color:#22A678;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
}
.form-control:hover{
    background-color: #1BAE7C;
    color: #FFFFFF;
}
.footer-bacar > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
}
.footer-bacar{
    margin-top: 50px;
    margin-left: 100px;
}
.footer-says{
    margin-top: 50px;
    margin-left: 100px;
}
.footer-says > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
}
.footer-says > p{
    color: #FFFFFF;
}
.footer-says > h1{
    color: #FFFFFF;
    font-size: 15px;
}
.lokation{
    margin-left: 200px;
    margin-top: 60px;
}
.lokation > iframe{
    border-radius: 20px;
}
.lokation > h1{
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 30px;
}
.lokation-icon > i{
    color: #FFFFFF;
    width: 30px;
    font-size: 25px;
}