{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hujjatlar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/Hujjatlar.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="imgnavbar">
            <div class="navbar">
        <div class="navbar-img">
            <img src="{% static 'img/Logo tuproqtahlil.png' %}" alt="">
        </div>
        <div class="navbar-item">
            <a href="{% url 'asosiy' %}">Asosiy Sahifa</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'biz_haqimizda' %}">Biz Haqimizda</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'Hujjatlar' %}">Hujjatlar</a>
        </div>
         <div class="navbar-item">
            <a href="{% url 'ishla' %}">Xizmatlar</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'yangiliklar' %}">Meddia</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'labaratoriya' %}">Labaratortiya</a>
        </div>
        <div class="navbar-button">
            <button><img src="{% static 'img/Telegram.png' %}" alt=""></button>
        </div>
        <div class="navbar-button">
            <button><img src="{% static 'img/instagram 1.png' %}" alt=""></button>
        </div>
        <div class="navbar-button">
            <button><img src="{% static 'img/Facebok.jpg' %}" alt=""></button>
        </div>
        <div class="navbar-button">
            <button><img src="{% static 'img/YouTube.png' %}" alt=""></button>
        </div>
        <div>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                UZ
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">UZBEK</a></li>
                <li><a class="dropdown-item" href="#">ENGLISH</a></li>
                <li><a class="dropdown-item" href="#">RUSSIYA</a></li>
              </ul>
        </div>
    </div>
        </div>
    </div>
    <div class="text-lg-center text-md-center text-sm-center">
        <h3 class="colsip">Ochiq ma'lumotlar</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#"> "Murojaat hamda shikoyatlar uchun"</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2021 yilda o’z faoliyatiga oid bajarilgan ishlar hisoboti</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning balansida mavjud avtotransport vositalari haqida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxona tomonidan 2021-yil davomida amalga oshirilgan davlat xaridi bo‘yicha maʼlumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2021 yil uchun mablag'larning rejalashtirilishi va sarflanishi to'g'risida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxona mansabdor shaxslarining 2021 yil davomoda amalga oshirilgan xizmat safarlari to'g'risida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning tasdiqlangan yarim yillik ish rejasi</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2022 yil 1-chorak uchun mablag'larning rejalashtirilishi va sarflanishi to'g'risida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxona mansabdor shaxslarining 2022 yil 1 choragi davomoda amalga oshirilgan xizmat safarlari to'g'risida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxona tomonidan 2022-yil 1 choragi davomida amalga oshirilgan davlat xaridi bo‘yicha maʼlumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning balansida mavjud avtotransport vositalari haqida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxona tomonidan 2022-yil 2-choragi davomida amalga oshirilgan davlat xaridi bo'yicha maʼlumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning balansida mavjud avtotransport vositalari haqida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2022-yil 2-choragidavomida amalga oshirilgan xizmat safarlari to‘g‘risidagi maʼlumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2022-yil 3-choragi davomida amalga oshirilgan davlat xaridi bo‘yicha maʼlumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning balansida mavjud avtotransport vositalari haqida ma'lumot</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
                <h3><a class="hreflink" href="#">Korxonaning 2022-yil 3-choragi davomida amalga oshirilgan xizmat safarlari to‘g‘risidagi maʼlumot</a></h3>
            </div>
       </div>
       <div class="row">
        <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">Korxonaning 2022 yilda o'z faoliyatiga oid bajargan ishlar hisoboti</a></h3>
        </div>
    </div>
</div>
<div class="text-center mt-5">
    <h3>Normativ huquqiy hujjatlar</h3>
</div>
<div class="container">
    <div class="row">
        <div class="container1 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">"Murojaat hamda shikoyatlar uchun"</a></h3>
        </div>
        <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">"Yer hisobi va davlat kadastrlarini yuritish tizimini tubdan takomillashtirish chora-tadbirlari to'g'risida" (2020-yil 7-sentabr, PQ-6061-son)</a></h3>
        </div>
        <div class="container2 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">"Tuproq tarkibi va repozitoriysi, sifati tahlil markazi" davlat unitar korxonasining balansida mavjud avtotransport vositalari haqida ma'lumot</a></h3>
        </div>
        <div class="container3 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">"Tuproq tarkibi va repozitoriysi, sifati tahlil markazi" davlat unitar korxonasi tomonidan 2021-yil davomida amalga oshirilgan davlat xaridi bo‘yicha maʼlumot.</a></h3>
        </div>
        <div class="container3 col-lg-12 col-md-12 col-sm-12 mt-5">
            <h3><a class="hreflink" href="#">"Tuproq tarkibi va repozitoriysi, sifati tahlil markazi" davlat unitar korxonasining 2021 yil uchun mablag'larning rejalashtirilishi va sarflanishi to'g'risida ma'lumot.</a></h3>
        </div>
    </div>
</div>
<div class="text-center mt-5">
    <h3>Akkreditatsiya sertifikati</h3>
</div>
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="{% static 'img/OZAK.png' %}" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="{% static 'img/TURKAK.png' %}" alt="">
        </div>
    </div>
</div>
<div class="Footer mt-5">
    <div class="footer-bacar">
        <a href="#">Murojaat uchun</a>
        <form  class="royxatForm" method="POST"> {% csrf_token %}
            <input class="form-control"  type="text" name="ism" placeholder="F.I.SH">
            <input class="form-control"  type="text" name="tel_raqam" placeholder="Tel raqam">
            <button type="submit" class="btn btn-primary">Yuborish</button>
        </form>
    </div>
    <div class="footer-says">
        <a href="#">Manzil</a>
        <p>Manzil: 100097, Toshkent shahri,<br> Chilonzor tumani, Cho’pon ota <br> ko’chasi, 5A-uy,</p>
        <h1>+(998-71) 278-50-99</h1>
        <h1>+(998-71) 278-50-76</h1><br>
        <p>soil-uz@mail.ru</p>
    </div>
    <div class="lokation">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.8387895935193!2d69.20496287460561!3d41.29061290199455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b224e47c56f%3A0xf1fad4cd2e76e430!2sToshkent%20shahar%20ekologiya%20va%20atrof-muhitni%20muhofaza%20qilish%20boshqarmasi!5e0!3m2!1suz!2s!4v1693481691453!5m2!1suz!2s" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h1>Ijtimoiy Tarmoqlar:</h1>
        <div class="lokation-icon">
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>